.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
    background-color: #E3E4EC;
    padding: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .left-side {
    flex: 1;
    padding-right: 20px;
  }
  
  .right-side {
    flex: 1;
    position: relative;
  }
  
  .name {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .video-container {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio for video */
  }
  
  .video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .video-thumbnail iframe {
    width: 100%;
    height: 100%;
  }
  
  .video-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-popup iframe {
    width: 80%;
    height: 80%;
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
  }
  